html, body{
	height: 100%;
}

body{
	color: #212121;
	font-family: 'Roboto', sans-serif;
}

a{
	color: inherit;
}

p > a{
	text-decoration: underline;
}

.glavno-meni{
	text-transform: uppercase;
	background: #E0E0E0;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

.glavno-meni .navbar-default .navbar-nav > li > a{
	color: #757575;
}

.glavno-meni .navbar-collapse{
	border: 0;
}

.glavno-meni .navbar-nav > li > a:hover,
.glavno-meni .navbar-nav > li > a:focus{
	color: #424242;
}

.sekcii{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	height: auto;
	min-height: calc(100% - 70px);
	/* 50px main menu min-height + 10px top margin + 10px bottom margin */
}

.sekcii-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(images/cof-circuit-pattern-goce-mitevski.svg) center fixed repeat;
	background-size: 185px 185px;
	opacity: 0.05;
}

.sekcii section{
	padding-top: 40px;
	padding-bottom: 40px;
}

.glavno-meni .navbar-nav{
	display: inline-block;
	vertical-align: top;
	float: none;
}

.flip-flop-illustration{
	border: 10px solid #eee;
}

/* Required for Internet Explorer */
.flip-flop-illustration img{
	width: 100%;
	height: 100%;
}

.text-m{
	font-size: 13px;
}

.l-h-110{
	line-height: 110%;
}

.padded-block-lg h1,
.padded-block-lg h2,
.padded-block-lg h3,
.padded-block-lg h4,
.padded-block-lg h5,
.padded-block-lg h6,
.padded-block-lg p,
.padded-block-m h1,
.padded-block-m h2,
.padded-block-m h3,
.padded-block-m h4,
.padded-block-m h5,
.padded-block-m h6,
.padded-block-m p{
	margin: 0;
}

.padded-block-lg.padded-block-reset h1,
.padded-block-lg.padded-block-reset h2,
.padded-block-lg.padded-block-reset h3,
.padded-block-lg.padded-block-reset h4,
.padded-block-lg.padded-block-reset h5,
.padded-block-lg.padded-block-reset h6,
.padded-block-lg.padded-block-reset p,
.padded-block-m.padded-block-reset h1,
.padded-block-m.padded-block-reset h2,
.padded-block-m.padded-block-reset h3,
.padded-block-m.padded-block-reset h4,
.padded-block-m.padded-block-reset h5,
.padded-block-m.padded-block-reset h6,
.padded-block-m.padded-block-reset p{
	margin: inherit;
}

.form-control-reset{
	border-radius: 0;
}

.lead-reset{
	line-height: inherit;
	font-size: 16px;
	font-weight: 500;
}

.thumbnail-reset{
	padding: 0;
	border: 0;
	border-radius: 0;
	min-width: 100%;
}

.img-full-width{
	min-width: 100%;
}

.m-top-m{
	margin-top: 10px;
}

.m-left-m{
	margin-left: 10px;
}

.m-right-m{
	margin-right: 10px;
}

.m-bottom-m{
	margin-bottom: 10px;
}

.m-top-lg{
	margin-top: 20px;
}

.m-left-lg{
	margin-left: 20px;
}

.m-right-lg{
	margin-right: 20px;
}

.m-bottom-lg{
	margin-bottom: 20px;
}

.p-top-m{
	padding-top: 10px;
}

.p-left-m{
	padding-left: 10px;
}

.p-right-m{
	padding-right: 10px;
}

.p-bottom-m{
	padding-bottom: 10px;
}

.p-top-lg{
	padding-top: 20px;
}

.p-left-lg{
	padding-left: 20px;
}

.p-right-lg{
	padding-right: 20px;
}

.p-bottom-lg{
	padding-bottom: 20px;
}

.padded-block-lg{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
}

.padded-block-m{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 20px;
}

.cl-grey-0{
	color: #fff;
}

.bg-grey-0{
	background: #fff;
}

.bg-grey-100{
	background: #f5f5f5;
}

.bg-grey-300{
	background: #e0e0e0;
}

.bg-grey-600{
	background: #757575;
}

.bg-grey-800{
	background: #424242;
}

.bg-l-blue-500{
	background: #03a9f4;
}

.bg-green-200{
	background: #72d572;
}

.bg-green-500{
	background: #259b24;
}

.btn.btn-reset{
	border-radius: 0;
	border: 0;
	box-shadow: 0;
	transition: all 0.1s ease-in-out 0s;
	outline: none;
}

.btn.btn-reset:hover,
.btn.btn-reset:focus{
	color: #fff;
	outline: none;
}

.btn.btn-reset:hover{
	box-shadow: inset 0 0 0 2px rgba(0,0,0,0.15);
}

.btn.btn-reset:active{
	box-shadow: inset 0 0 0 3px rgba(0,0,0,0.2);
}

#cpp h3:not(:first-child){
	padding-top: 10px;
}

@media (min-width: 768px) {
	.glavno-meni .navbar-nav > .active > a,
	.glavno-meni .navbar-nav > .active > a:hover,
	.glavno-meni .navbar-nav > .active > a:focus{
		color: #263238;
		background: #fff;
	}

	.glavno-meni .collapse{
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.glavno-meni .navbar-nav > .active > a,
	.glavno-meni .navbar-nav > .active > a:hover,
	.glavno-meni .navbar-nav > .active > a:focus{
		color: #263238;
		background: inherit;
	}

	.glavno-meni .navbar-nav > .active > a{
		font-weight: bold;
	}

	.glavno-meni .navbar-collapse{
		background: #eee;
	}

	.glavno-meni .navbar-toggle{
		background: #f5f5f5;
	}

	.glavno-meni .navbar-toggle:hover,
	.glavno-meni .navbar-toggle:focus{
		background: #fff;
	}
}

#S1, #S2 {
    cursor: pointer;
}